{% extends "layout.html" %}
{% block search %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
      <form action="home" method = "POST">
        <label for="aname">Attribute Name:</label>
        <input type="text" id="aname" name="aname" value=""><br>
        <label for="relop">Relational Operator:</label>
          <select name="relop" id="relop">
    <option value="==">==</option>
    <option value="!=">!=</option>
    <option value="<"><</option>
    <option value=">">></option>
    <option value="<="><=</option>
    <option value=">=">>=</option>
  </select><br>
          <label for="cval">Constraint Value:</label>
        <input type="text" id="cval" name="cval" value=""><br><br>
        <input type="submit" value="Submit"><br>
      </form> 
          </div>
        </article>
{% endblock search %}

 
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <img src="{{ url_for('static', filename = 'tmp_downloads/'+post.content) }}" alt="{{post.title}}" width=600px><br>
            <div style="height:120px;width:600px;border:4px solid #eee;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
              {% for key, value in post.metadata.items() %}
                <h5>{{key}} : {{value}}</h5>
              {% endfor %}
            </div>
          </div>
        </article>
    {% endfor %}
{% endblock content %}